body {
    background-image: url('https://pics.computerbase.de/1/0/9/3/7/5-896514dcc3973df5/article-1280x720.7327a0aa.jpg'); background-size: cover;
    color: var(--text-color);
    background-size: 251%;
    background-position: 905% 60%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  input {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: #00ffff; 
    color: #000000b7;
    border-radius: 10px;
    display: block;
    margin: 5 auto;
    padding: 10px 80px;
  }
  button {
    font-family: 'Arial';
    font-weight: bold;
    background-color: #00ffff; 
    color: #000000b7;
    border-radius: 10px;
    display: block;
    margin: 5 auto;
    padding: 10px 163px;
  }
  h1 {
    padding: 1px 72px;
  }
  h4 {
    padding: 4px 68px;
  }
  h5 {
    padding: 1px 131px;
  }
  h4, h5 {
    margin: 0%;
  }
  b, h3 {
    margin: 0;
  }
  b, h5 {
    height: 166px;
  }